{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name cid-length,
   :params [],
   :result :i64,
   :effects #{},
   :body 59,
   :param-types []}
  {:name digest-start,
   :params [],
   :result :i64,
   :effects #{},
   :body 7,
   :param-types []}
  {:name raw-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "bafkrei",
   :param-types []}
  {:name dag-cbor-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "bafyrei",
   :param-types []}
  {:name ipfs-scheme,
   :params [],
   :result :string,
   :effects #{},
   :body "ipfs://",
   :param-types []}
  {:name max-object-bytes,
   :params [],
   :result :i64,
   :effects #{},
   :body 4194304,
   :param-types []}
  {:name has-prefix?,
   :params [s p],
   :result :bool,
   :effects #{},
   :body
   (if
    (= (string-byte-length s) (cid-length))
    (string=? (string-substring s 0 (digest-start)) p)
    false),
   :param-types [:string :string]}
  {:name raw-cid-shape?,
   :params [s],
   :result :bool,
   :effects #{},
   :body (has-prefix? s (raw-prefix)),
   :param-types [:string]}
  {:name dag-cbor-shape?,
   :params [s],
   :result :bool,
   :effects #{},
   :body (has-prefix? s (dag-cbor-prefix)),
   :param-types [:string]}
  {:name cid-shape?,
   :params [s],
   :result :bool,
   :effects #{},
   :body (if (raw-cid-shape? s) true (dag-cbor-shape? s)),
   :param-types [:string]}
  {:name same-object?,
   :params [a b],
   :result :bool,
   :effects #{},
   :body
   (if
    (cid-shape? a)
    (if
     (cid-shape? b)
     (string=?
      (string-substring a (digest-start) (cid-length))
      (string-substring b (digest-start) (cid-length)))
     false)
    false),
   :param-types [:string :string]}
  {:name over-cap?,
   :params [size],
   :result :bool,
   :effects #{},
   :body (> size (max-object-bytes)),
   :param-types [:i64]}
  {:name refusal-code,
   :params [cid size has-size? has-token?],
   :result :i64,
   :effects #{},
   :body
   (if
    (if (raw-cid-shape? cid) false true)
    1
    (if
     (let
      [__kotoba_and_2 has-size?]
      (if __kotoba_and_2 (over-cap? size) __kotoba_and_2))
     2
     (if
      (if has-size? false true)
      3
      (if (if has-token? false true) 4 0)))),
   :param-types [:string :i64 :bool :bool]}
  {:name embed-url,
   :params [cid],
   :result :string,
   :effects #{},
   :body (if (cid-shape? cid) (string-concat (ipfs-scheme) cid) ""),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [raw-cid-shape?
  dag-cbor-shape?
  cid-shape?
  same-object?
  over-cap?
  refusal-code
  embed-url
  ipfs-scheme
  cid-length
  raw-prefix
  dag-cbor-prefix
  digest-start
  max-object-bytes],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
